---
import type { WidgetLoanProps as Props } from "~/types";
import FormLoanCalculator from "~/components/forms/LoanCalculator.astro";
const { price } = Astro.props;
---

<div id="loan-calculator" class="grid grid-cols-1 lg:grid-cols-3 pb-12 order-2 print:hidden">
	<h2 class="h6 feature-icon feature-icon-loan">Calculate your loan now</h2>

	<div
		id="form-loan-calculator-wrapper"
		class="lg:col-span-2 transition duration-300 px-4 lg:px-8 py-4 text-base max-lg:mt-8 bg-gray-100 rounded-lg relative shadow-md border border-gray-200"
	>
		<FormLoanCalculator price={price} />
	</div>
</div>
