---
import IconMessage from "~/assets/images/icons/message.svg";
import Button from "~/components/Button.astro";
---

<Button href="#ask-a-question" class:list={"gap-1"}>
	<IconMessage class="size-4 inline-block -mt-0.5 mr-1" />
	<span>Ask a question</span>
</Button>
