---
import IconArrowLeft from "~/assets/images/icons/arrow-left.svg";
---

<a href="javascript:history.back()" class="mb-8 inline-block text-base font-medium transition hover:text-gray-500">
	<IconArrowLeft class="size-5 inline-block mr-1" />
	<span>Return to Cars</span>
</a>
