---
import IconFilter from "~/assets/images/icons/filter.svg";
---

<button id="button-modal-filter-open" type="button" class="-m-1 p-1 max-lg:shrink-0">
	<span class="sr-only">Open filter</span>
	<div class="flex space-x-2 items-center">
		<IconFilter class="size-5" />
		<span>Filter</span>
	</div>
</button>
