---
import type { FilterBarMobileProps as Props } from "~/types";
import Container from "~/components/Container.astro";
import SortCarsMobile from "~/components/forms/SortCarsMobile.astro";
import ButtonFilterMobile from "~/components/buttons/ButtonFilterMobile.astro";
import PresetBar from "~/components/PresetBar.astro";

const { params } = Astro.props;
---

<Container class:list={"lg:hidden bg-gray-800 pt-0 pb-0"}>
	<div class="text-white w-full flex items-center justify-between py-2 gap-x-4">
		<ButtonFilterMobile />

		<!-- Presets -->
		<div
			id="preset-bar-mobile"
			class="text-white grow overflow-x-auto text-center whitespace-nowrap relative"
			style="scrollbar-width: none; -webkit-overflow-scrolling: touch;"
		>
			<PresetBar params={params} />

			<div class="absolute pointer-events-none inset-0">
				<div class="bg-gradient-to-r from-transparent to-gray-800 w-8 h-full ml-auto"></div>
			</div>
		</div>

		<!-- Sort -->
		<SortCarsMobile />
	</div>
</Container>
