---
import { socialMedia } from "~/data/config.js";
import IconFacebook from "~/assets/images/icons/social-media/facebook.svg";
import IconX from "~/assets/images/icons/social-media/x.svg";
import IconInstagram from "~/assets/images/icons/social-media/instagram.svg";
import IconYouTube from "~/assets/images/icons/social-media/youtube.svg";
---

{
	Object.values(socialMedia).map((item: { url: string; label: string; icon: string }) => (
		<a href={item.url} target="_blank" aria-label={item.label} rel="noopener noreferrer" class="social-media-icon">
			{item.icon === "facebook" && <IconFacebook class="size-8 text-gray-600 hover:text-gray-800 transition p-1 -m-1" />}
			{item.icon === "x" && <IconX class="size-8 text-gray-600 hover:text-gray-800 transition p-1 -m-1" />}
            {item.icon === "instagram" && <IconInstagram class="size-8 text-gray-600 hover:text-gray-800 transition p-1 -m-1" />}
            {item.icon === "youtube" && <IconYouTube class="size-8 text-gray-600 hover:text-gray-800 transition p-1 -m-1" />}
		</a>
	))
}
