---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Testimonial from "~/components/Testimonial.astro";
import SliderTestimonial from "~/components/SliderTestimonial.astro";
---

<Layout pageTitle="About Us" title="About Us">
	<Section>
		<Container>
			<Testimonial />
		</Container>
	</Section>

    <Section>
		<Container>
			<SliderTestimonial />
		</Container>
	</Section>
</Layout>
