---
---

<dialog id="modal-slider" class="fixed overflow-y-scroll inset-0 z-50 bg-black/90 h-svh w-svw">
	<div class="relative z-10">
        <button type="button" aria-label="close modal" class="z-50 absolute top-4 right-4 p-2 bg-gray-800/50 rounded-full" onclick="document.getElementById('modal-slider').close()">
            Close
        </button>
    </div>
</dialog>


<script>
	document.addEventListener("astro:page-load", function () {
		
	});
</script>
