---

---

<form id="form-newsletter-footer" action="#" class="mt-6 sm:flex sm:max-w-md lg:mt-0">
	<label for="email-address" class="sr-only">Email address</label>
	<input
		type="email"
		name="newsletter-email-address"
		id="newsletter-email-address"
		autocomplete="email"
		required
		placeholder="Enter your email"
	/>
	<div class="mt-4 sm:ml-4 sm:mt-0 sm:shrink-0">
		<button type="submit" id="button-newsletter-footer-subscribe" class="button button-yellow">Subscribe</button>
	</div>
</form>
<div id="success-message" class="max-w-md max-lg:mt-4 w-full flex items-center justify-center text-center" style="display: none;">
	<p class="text-base lg:text-sm lg:text-balance text-left lg:text-center">
		Thanks for subscribing to our newsletter! We'll send you an email every week with the latest news.
	</p>
</div>

<script>
	document.addEventListener("astro:page-load", function () {
		const form = document.getElementById("form-newsletter-footer") as HTMLFormElement;

		if (form) {
			const button = document.getElementById("button-newsletter-footer-subscribe")!;
			const message = document.getElementById("success-message")!;

			form.addEventListener("submit", function (e) {
				e.preventDefault();
				form.style.display = "none";
                message.removeAttribute("style");
			});
		}
	});
</script>
