<form id="form-search">
	<div>
		<label class="sr-only" for="search">Search</label>
		<input
			type="search"
			name="search"
			placeholder="Search..."
			id="search"
			class="bg-gray-200 max-lg:mt-0 lg:bg-transparent max-lg:py-3 px-4 lg:px-2 outline-none lg:text-xl lg:border-b-2 border-gray-300 rounded-none placeholder:text-gray-500 focus:outline-none focus-visible:border-gray-500"
		/>
	</div>
</form>
