---
import IconChevronDown from "~/assets/images/icons/chevron-down-select.svg";
---

<form id="form-sort">
	<div class="lg:shrink-0">
		<div class="flex items-center gap-x-2">
			<label class="sr-only" for="sort">Sort</label>
		</div>
		<div class="grid grid-cols-1 max-lg:w-max ml-auto">
			<select
				name="sort"
				id="sort"
				class="appearance-none max-lg:mt-0 col-start-1 bg-transparent max-lg:outline-none outline-gray-300 row-start-1 pr-10"
			>
				<option value="all">Sort by</option>
				<option value="mileage-desc">Mileage: High to Low</option>
				<option value="mileage-asc">Mileage: Low to High</option>
				<option value="price-desc">Price: High to Low</option>
				<option value="price-asc">Price: Low to High</option>
				<option value="year-desc">Year: High to Low</option>
				<option value="year-asc">Year: Low to High</option>
			</select>
			<IconChevronDown class="icon-chevron-down" />
		</div>
	</div>
</form>
