---
import IconSort from "~/assets/images/icons/sort.svg";
---

<form id="form-sort-mobile" class="max-lg:shrink-0">
	<div class="text-gray-800">
		<label class="sr-only" for="sort">Sort</label>
		<div class="grid grid-cols-1">
			<select
				name="sort"
				id="sort-mobile"
				class="appearance-none col-start-1 w-8 focus:outline-none row-start-1 outline-none bg-transparent"
				aria-label="Sort cars by"
			>
				<option value="all">Sort by</option>
				<option value="mileage-desc">Mileage: High to Low</option>
				<option value="mileage-asc">Mileage: Low to High</option>
				<option value="price-desc">Price: High to Low</option>
				<option value="price-asc">Price: Low to High</option>
				<option value="year-desc">Year: High to Low</option>
				<option value="year-asc">Year: Low to High</option>
			</select>
			<IconSort
				class="pointer-events-none text-white col-start-1 row-start-1 size-5 self-center justify-self-end"
			/>
		</div>
	</div>
</form>
