---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import FAQ from "~/components/Faq.astro";

const faqItems = [
    {
        question: "What types of cars do you sell?",
        answer: "We offer a variety of luxury cars including sedans, SUVs, and sports cars from top brands.",
    },
    {
        question: "Can I trade in my old car?",
        answer: "Yes, we offer trade-in options. Our team will evaluate your car and provide a fair trade-in value.",
    },
    {
        question: "Do you offer financing options?",
        answer: "Yes, we provide flexible financing options to make your car purchase more affordable.",
    },
];
---

<Layout pageTitle="Car Sales" title="Car Sales">
	<Section class:list={"bg-gray-50"}>
		<Container>
			<Heading>
				<h1 slot="heading-title">Car Sales</h1>
				<p slot="heading-content">
					At HyperDrive, we offer top-notch repair services to keep your luxury car in perfect condition. Our
					team of skilled technicians is equipped with the latest tools and technology to handle any repair
					job, big or small.
				</p>
			</Heading>
		</Container>
	</Section>

    <Section class:list={"bg-white"}>
        <Container>
            <FAQ items={faqItems} />
        </Container>
    </Section>
</Layout>
