---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Container from "~/components/Container.astro";
import Heading from "~/components/Heading.astro";
import FAQ from "~/components/Faq.astro";

const faqItems = [
	{
		question: "What maintenance services do you offer?",
		answer: "We offer a comprehensive range of maintenance services including oil changes, tire rotations, brake inspections, and fluid checks.",
	},
	{
		question: "How often should I get my car serviced?",
		answer: "It's recommended to service your car every 6 months or 5,000 miles, whichever comes first. However, always refer to your vehicle's manual for specific guidelines.",
	},
	{
		question: "Do you offer maintenance packages?",
		answer: "Yes, we offer various maintenance packages tailored to meet your needs and ensure your car remains in top condition.",
	},
];
---

<Layout pageTitle="Maintenance" title="Maintenance">
	<Section class:list={"bg-gray-50"}>
		<Container>
			<Heading>
				<h1 slot="heading-title">Maintenance</h1>
				<p slot="heading-content">
					At HyperDrive, we offer top-notch repair services to keep your luxury car in perfect condition. Our
					team of skilled technicians is equipped with the latest tools and technology to handle any repair
					job, big or small.
				</p>
			</Heading>
		</Container>
	</Section>

	<Section class:list={"bg-white"}>
		<Container>
			<FAQ items={faqItems} />
		</Container>
	</Section>
</Layout>
